.articles {
  display: grid;
  gap: rem(30);
  padding: rem(30) 0;
}
.article {
  cursor: pointer;
  transition: $transition;
  box-sizing: content-box;

  &__header {
    margin-top: 0;
    padding-top: rem(30);
    padding-bottom: rem(15);
    border-bottom: 1px solid rgba($color: $dark, $alpha: 0.1);
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
  &__tag {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: em(11);
    color: $dark;
  }
  &__title-container {
    display: block;
    transition: $transition;

    &:hover {
      cursor: pointer;
      transform: translateX(15px);
      opacity: 0.7;
    }
  }
  &__title {
    color: $dark;
    font-size: em(24);
  }
  &__arrow {
    display: none;
    height: em(11);
    width: em(26);
  }
  &__date {
    color: $dark;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__text {
    font-size: em(14);
    letter-spacing: em(0.5);
  }
}

.article--row {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: auto;
  gap: 0;
}

@include responsive-for(medium) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

// Desktop Layout
@include responsive-for(large) {
  .articles {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-top: 0;
  }
  .article {
    &__title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__arrow {
      display: block;
    }
  }
  .article--featured {
    display: flex;
    align-items: flex-end;
    grid-row: 1;
    grid-column: 1 / span 6;
    z-index: 2;
    margin-top: rem(-70);

    & > div {
      margin-left: rem(30);
    }

    .article__title {
      font-size: em(28);
    }

    .article__image {
      width: 540px;
      height: 400px;
    }
  }

  .article:nth-child(2),
  .article:nth-child(3),
  .article:nth-child(4) {
    grid-column: span 2;
  }
  .article:nth-child(5),
  .article:nth-child(6) {
    grid-column: span 3;
  }
}
