// Default Mobile Layout
.header {
  height: 150px;

  // Hamburger Menu
  &__menu {
    cursor: pointer;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 5;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.5);
    }
    span {
      display: block;
      margin-bottom: 8px;
      width: 36px;
      height: 3px;
      background-color: $dark;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__nav {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background: $light;
  }

  &__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
  }
  &__logo {
    display: block;
    width: 96px;
    height: 27px;
    margin-bottom: 0.5em;
  }
  &__baseline {
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 14px;
    color: #777777;
  }

  &__links {
    display: none;
  }
  &__links--visible {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    margin-top: 150px;
    background-color: rgba($color: $light, $alpha: 1);
    border-bottom: 1px solid rgba($color: $dark, $alpha: 0.2);
    height: 300px;
    z-index: 1;
    visibility: visible;
    // animation: entrance 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.header__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  @keyframes entrance {
    from {
      // height: 0;
      transform: translateY(-200px);
    }
    to {
      // height: 300px;
      transform: translateY(0);
    }
  }

  &__link {
    font-size: em(16);
    font-weight: 400;
    text-transform: uppercase;
    color: #1c1c1d;
    transition: $transition;

    &:hover {
      transform: scale(1.1);
      opacity: 0.7;
    }

    &:active {
      transform: scale(0.9);
      opacity: 1;
    }
  }

  &__search {
    cursor: pointer;
    width: 25px;
    height: 26px;
    transition: $transition;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__search--desktop {
    display: none;
  }
}

// Desktop Layout
@include responsive-for(large) {
  .header {
    &__nav {
      justify-content: space-between;
    }
    &__menu {
      display: none;
    }

    &__brand {
      align-items: flex-start;
      width: auto;
    }
    &__baseline {
      text-align: left;
    }
    &__links {
      min-width: 600px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__links--visible {
      visibility: hidden;

      // display: none !important;
    }
    &__search {
      display: none;
    }
    &__search--desktop {
      width: 16px;
      height: 17px;
      display: block;
    }
  }
}
