$screen-width: (
  "xsmall": 20em,
  "small": 23.438em,
  "medium": 48em,
  "large": 64em,
  "xlarge": 90em,
);
// Breakpoint Responsive Mixin
@mixin responsive-for($size) {
  @media (min-width: map-get($screen-width , $key: $size)) {
    @content;
  }
}

@mixin container {
  max-width: $max-width;
  margin: auto;
  padding: 0 rem(30);

  // Desktop
  @include responsive-for(large) {
    padding: 0 rem(30);
  }
}
